@model IEnumerable<website.Models.Studentdata.StudentViewModel>

@*@model IEnumerable<website.Models.StudentModel>*@

<h2>Student Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Father Name</th>
            <th>Stream</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.studentVm.Name</td>
            <td>@item.studentInfoVm.FatherName</td>
            <th>@item.studentVm.Stream</th>
            <th>@item.studentInfoVm.Address</th>
        </tr>
}
    </tbody>
</table>

<h2>Student with course</h2>

@*<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Students.stdId</td>
                <td>@item.Students.Name</td>
                <td>@item.Courses.CourseName</td>
            </tr>
        }
    </tbody>
</table>*@



